<div class='header'>
  <div class="container">
    <a href="{{ .Site.BaseURL }}" style="text-decoration: none;">
      <div class="logo">
        <h3 href="{{ .Site.BaseURL }}">{{ .Site.Params.logo.alt }}</h3>
      </div>
    </a>
    <a href="{{ .Site.BaseURL }}" style="text-decoration: none;">
      <div class="logo-mobile">
        <h1 href="{{ .Site.BaseURL }}">{{ .Site.Params.logo.alt }}</h1>
      </div>
    </a>
    {{ partial "main-menu.html" . }}
    {{ partial "hamburger.html" . }}
  </div>
</div>
